/*!            CSS - FILE              */

/**       External Style sheet        */

/*!       Page 1#                    */
h1 {
    text-align: center;
}

p {
    border: 2px solid black;
    border-radius: 10px;
    padding: 3px;
}

.para-2 {
    border: 0.3rem inset black;
    background-color: burlywood;
    color: brown;
    font-weight: bold;
}

#para-3 {
    background-color: bisque;
    color: tomato;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

/*!              Page 2#                    */

.para-2-2 {
    border: 0.3rem dotted greenyellow;
    background-color: rgb(165, 164, 162);
    color: rgb(244, 5, 5);
    font-weight: bold;
}

#para-3-2 {
    background-color: rgb(23, 235, 19);
    color: rgb(8, 30, 202);
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
