h1 {
    text-align: center;
}

#box1 {
    border: 0.1rem solid black;
    height: 300px;
    width: 300px;
    font-size: 42px;
    background-color: blueviolet;

    /** Box 1 & 2 move together */
    margin-left: 10rem;

    /** default */
    /* position: static; */

    /** Absolute */
    /* position: absolute; */

    /** Fixed */
    /* position: fixed; */

    /** relative */
    /* position: relative; */

    /** Sticky */
    /* position: sticky; */

    /* top: 100px; */
    /* left: 50px; */
}

#box2 {
    border: 0.1rem solid black;
    font-size: 42px;
    height: 100px;
    width: 100px;
    background-color: blue;

    /** Absolute */
    position: relative;
    /* position: fixed; */

    /* top: 0px; */
    top: 50px;
    left: 100px;
}
